<h1>Listing game_rounds</h1>

<table>
  <tr>
    <th>Game</th>
    <th>Player1 player2 emotion</th>
    <th>Player2 player1 emotion</th>
    <th>Player1 player2 expectation</th>
    <th>Player2 player1 expecatation</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @game_rounds.each do |game_round| %>
  <tr>
    <td><%= game_round.game_id %></td>
    <td><%= game_round.player1_player2_emotion %></td>
    <td><%= game_round.player2_player1_emotion %></td>
    <td><%= game_round.player1_player2_expectation %></td>
    <td><%= game_round.player2_player1_expectation %></td>
    <td><%= link_to 'Show', game_round %></td>
    <td><%= link_to 'Edit', edit_game_round_path(game_round) %></td>
    <td><%= link_to 'Destroy', game_round, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Game round', new_game_round_path %>
