<%= form_for(@player_communication) do |f| %>
  <% if @player_communication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player_communication.errors.count, "error") %> prohibited this player_communication from being saved:</h2>

      <ul>
      <% @player_communication.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :game_round_id %><br />
    <%= f.number_field :game_round_id %>
  </div>
  <div class="field">
    <%= f.label :player_id %><br />
    <%= f.number_field :player_id %>
  </div>
  <div class="field">
    <%= f.label :message %><br />
    <%= f.text_field :message %>
  </div>  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
