<%cellnum = 1%>
<div>

<% if @game_round.player1_status and @game_round.player2_status%>
	<%= hidden_field_tag :players_status, "true" %>



<div id="playerbucket">
				
	<table style="margin: 0px auto; width: 420px; color: #000000; font-weight: normal; cell-spacing: 0px;">
		<tr>
			<td style="background-color: #AAAAAA;">You</td>
		<%#@color_pallet = ColorPallet.all%>
		<%@color_pallets.each_with_index do |color, index|%>
			<td style="width:40px; height:20px; background-color: <%=color.color%>; text-align: center;">
				<%=@player_color_bucket[color.id]%>
			</td>
		<%end%>
			<!-- <td style="background-color: #AAAAAA;">Score</td>
			<td style="background-color: #AAAAAA;"><%#=@player_score%></td> -->
		</tr>

		<tr>
			<td style="background-color: #AAAAAA;">Opponent</td>
		<%@color_pallets.each_with_index do |color, index|%>
			<td style="width:40px; height:20px; background-color: <%=color.color%>; text-align: center; ">
				<%=@opponent_color_bucket[color.id]%>
			</td>
		<%end%>
			<!-- <td style="background-color: #AAAAAA;">Score</td>
			<td style="background-color: #AAAAAA;"><%#=@opponent_score%></td> -->
		</tr>
	</table>
					
</div>

<%else%>
	<h2>Waiting for your opponent...</h2>
	<%= hidden_field_tag :players_status, "false" %>
<%end%>

<table id="gameboard">
<%for row in 1..@gameboard.gridsize%>
  <tr>
		<%for col in 1..@gameboard.gridsize%>
			  <%#cell_color = @color_pallet[@cell_color[cellnum-1]]%>
			  <td style="background-color: <%=ColorPallet.find(@gameboard.cellcolors[cellnum-1].color_pallet_id).color%>" id='row<%=row%>col<%=col%>'>
			  <%p "Cellnum #{cellnum} #{@gameboard.cellcolors[cellnum-1].color_pallet_id}"%>
			  
				<% if @game_round.player1_status and @game_round.player2_status%>
					<%if(@player_current_position == cellnum)%>
						<%=image_tag "You.png"%>
					<%end%>
					<%if(@opponent_current_position == cellnum)%>
						<%=image_tag "Opp.png"%>
					<%end%>
					
					<%if(cellnum == @gameboard.goal)%>
						<%=image_tag "goal38x38.PNG"%>
					<%end%>
				<%end%>
				
				<%cellnum+=1%>
			  </td>
		<%end%>
  </tr>
<%end%>
</table>
</div>

