<hr style="border: 2px solid #D0D0D0;"/>
<h2>Resource Transfer</h2>


<%= form_tag "transfer_resource", :method => :get, :remote => true do %>
	<%= hidden_field_tag :player_id, session[:player_id]%>
	<%= hidden_field_tag :game_round_id, @game_round.id%>
	<%= hidden_field_tag :game_id, @game.id%>
	<%= number_field_tag :quantity, "", :style => "width: 130px;"%>
	<%= select_tag :color_pallet_id, options_from_collection_for_select(@color_pallets, "id", "name")%>
	
	<%= submit_tag "Transfer", :name => nil %>
<% end %>