<script type="text/javascript">

	jQuery(document).ready(function($){
	//you can now use $ as your jQuery object.
		var body = $( 'body' );
		jQuery('#moveup').click(refreshTableMoveUp);
		jQuery('#movedown').click(refreshTableMoveDown);
		jQuery('#moveleft').click(refreshTableMoveLeft);
		jQuery('#moveright').click(refreshTableMoveRight);
		//jQuery("#discussion").scrollTop(jQuery("#discussion")[0].scrollHeight);
		//jQuery("#communication_module").scrollTop(jQuery("#communication_module")[0].scrollHeight);
		refreshCommunication();
		//var global_counter = parseInt($('#counter').val());
		//alert(global_counter);
		refreshTable();
		//checkPlayerStatus();
	});



    function refreshTable(){
        jQuery('#game').load("game_board?gameboard_id=<%=@gameboard.id%>", function(){
        	
           setTimeout(refreshTable, 1000);
        }
		
        );
        var global_counter = parseInt($('counter').value);
		//alert(global_counter);
		var players_status = $('players_status').value;
			//alert(players_status);
			
			if(players_status == "true") {

				$('counter').value = global_counter + 1;
			}
			else {

			}

				document.getElementById("communication_form").style.display = "block";
				document.getElementById("transfer_form").style.display = "block";
				document.getElementById("gamecontrols").style.display = "block";

				//alert("hi");

				var strategy_phase_count = 30;
				var communication_phase_count = 60;
				var transfer_phase_count = 90;
				var movement_phase_count = 120;


				var mm = Math.floor((movement_phase_count - global_counter - 1) / 60); 
				var ss = (movement_phase_count - global_counter - 1) % 60;

				if(mm >= 0 && ss >= 0) {
					if(mm < 10) {
						mm = "0" + mm;
					}

					if(ss < 10) {
						ss = "0" + ss;
					}

					//alert(mm);
					//alert(ss);

					document.getElementById("counter_span").innerHTML = mm + ":" + ss;
				}



			//alert(global_counter);



			if(global_counter+1 <= strategy_phase_count) {

				document.getElementById("counter_notification").innerHTML = "Strategy Phase";

				document.getElementById("strategy_description").style = "background-color: #00CC00";
				
				//alert("In IF");

			}
			else if (global_counter+1 > strategy_phase_count && global_counter+1 <= communication_phase_count){

				//alert(document.getElementById("strategy_description").style.display);
				//var s = document.getElementById("strategy_description").style.display;

				//document.getElementById("strategy_description").style = "background-color: #CC0000";
				document.getElementById("communication_description").style = "background-color: #00CC00";

				document.getElementById("communication_form").style.display = "block";
				document.getElementById("counter_notification").innerHTML = "Communication Phase";


				//if($('strategy_description').style.text-decoration != "line-through") {
				//	$('strategy_description').style.text-decoration = "line-through";
				//}

				//if(document.getElementById("strategy_description").style.display != "none"){
				//	document.getElementById("strategy_description").style.display = "none";
				//}

			}
			else if(global_counter+1 > communication_phase_count && global_counter+1 <= transfer_phase_count) {

				//if($('communication_description').style.text-decoration != "line-through") {
				//	$('communication_description').style.text-decoration = "line-through";
				//}


				//document.getElementById("communication_description").style = "background-color: #CC0000";
				document.getElementById("transfer_description").style = "background-color: #00CC00";


				document.getElementById("communication_form").style.display = "none";
				document.getElementById("transfer_form").style.display = "block";
				document.getElementById("counter_notification").innerHTML = "Transfer Phase";



			}
			else if(global_counter+1 > transfer_phase_count && global_counter+1 <= movement_phase_count) {

				//if($('transfer_description').style.text-decoration != "line-through") {
				//	$('transfer_description').style.text-decoration = "line-through";
				//}


				//if($('gamecontrols').style.display == "none") {
				//	$('gamecontrols').style.display="block";	
				//}

				//document.getElementById("transfer_description").style = "background-color: #CC0000";
				document.getElementById("movement_description").style = "background-color: #00CC00";

				document.getElementById("communication_form").style.display = "none";
				document.getElementById("transfer_form").style.display = "none";
				document.getElementById("gamecontrols").style.display = "block";
				document.getElementById("counter_notification").innerHTML = "Movement Phase";


			}
			else {
				
				//if($('movement_description').style.text-decoration != "line-through") {
				//	$('movement_description').style.text-decoration = "line-through";
				//}

				document.getElementById("movement_description").style = "background-color: #00CC00";


				document.getElementById("communication_form").style.display = "none";
				document.getElementById("transfer_form").style.display = "none";
				document.getElementById("gamecontrols").style.display = "none";
				document.getElementById("counter_notification").innerHTML = "Round Over";

			}



    }
	
	function refreshCommunication(){
		jQuery('#player_communication').load("player_communication?gameboard_id=<%=@gameboard.id%>", function(){
           setTimeout(refreshCommunication, 1000);
		   jQuery("#discussion").scrollTop(jQuery("#discussion")[0].scrollHeight);
        });
		
		//jQuery("#communication_module").scrollTop(jQuery("#communication_module")[0].scrollHeight);
	}
	
	function refreshTableMoveUp(){
		jQuery('#game').load("moveajax?gameboard_id=<%=@gameboard.id%>&direction=up", function(){
		//alert("Up");
        });
	}
	function refreshTableMoveDown(){
		jQuery('#game').load("moveajax?gameboard_id=<%=@gameboard.id%>&direction=down", function(){
		//alert("Up");
        });
	}
	function refreshTableMoveLeft(){
		jQuery('#game').load("moveajax?gameboard_id=<%=@gameboard.id%>&direction=left", function(){
		//alert("Up");
        });
	}
	function refreshTableMoveRight(){
		jQuery('#game').load("moveajax?gameboard_id=<%=@gameboard.id%>&direction=right", function(){
		//alert("Up");
        });
	}

</script>

<table style="width:100%">
	<tr>
		<td style="border-right: 2px solid #CCCCCC; width: 300px; vertical-align: top; ">
			<div id="phases">
				<h2>Game Phases</h2>
				<ul>
					<li id="strategy_description" style="text-decorartion:none;">Strategize
					<p>Players analyse their position on the board and the plates in their bucket, and come up with a strategy to maximise their points.</p>
					</li>
					<li id="communication_description" style="text-decorartion:none;">Communicate
					<p>Players communicate with each other and mutually agree to transfer plates.</p>
					</li>
					<li id="transfer_description" style="text-decorartion:none;">Transfer
					<p>Players transfer the plates agreed upon during the communication phase.</p>
					</li>
					<li id="movement_description" style="text-decorartion:none;">Movement
					<p>Players use the available plates to reach the goal.</p>
					</li>
				</ul>
				
				<h3>Scoring</h3>
				<p>
				For players who did not reach the goal:<br/>
				SCORE = number of chips you have + 1.5 x number of squares travelled
				</p>
				<p>
				For players who reached the goal:<br/>
				SCORE = number of chips you have + 3.0 x number of squares travelled
				</p>
				
			</div>
		</td>
		<td style="border-right: 2px solid #CCCCCC; vertical-align: top; ">
			<div id="playarea">
				<h2>Play Area</h2>
				<p style="color: #000000; font-weight: bold; background-color: #FEFE00; padding: 3px;">
					<%= hidden_field_tag :counter, "0", :style => "width: 50px; font-size: 12pt; font-weight: bold;" %>
					Count: <span id="counter_span"></span>
					<span id="counter_notification"></span>
				</p>
				<div id="game">
				<%= render :partial => "gameboard"%>
				</div>
				
				<div id="gamecontrols">
					
					<%#=link_to image_tag("up64x64.png"), :controller => :players, :action => :move, :direction => "up", :gameboard_id => @gameboard.id%>
					<%#=link_to image_tag("down64x64.png"), :controller => :players, :action => :move, :direction => "down", :gameboard_id => @gameboard.id%>
					<%#=link_to image_tag("left64x64.png"), :controller => :players, :action => :move, :direction => "left", :gameboard_id => @gameboard.id%>
					<%#=link_to image_tag("right64x64.png"), :controller => :players, :action => :move, :direction => "right", :gameboard_id => @gameboard.id%>
					
					<%#=link_to_remote "Move Left", :url=>{:action => :move, :direction => "left"}%>
					
					<a id="moveup" href="#"><%=image_tag("up64x64.png")%></a>
					<a id="movedown" href="#"><%=image_tag("down64x64.png")%></a>
					<a id="moveleft" href="#"><%=image_tag("left64x64.png")%></a>
					<a id="moveright" href="#"><%=image_tag("right64x64.png")%></a>
				</div>
				
				
				
			</div>		
		
		</td>
		<td style="width: 300px; vertical-align: top;">
			<div>
				<h2>Communication</h2>
				<div id="communication">
					<div  id="player_communication" style="height: 350px;">
						<%= render :partial => "player_communication"%>
					</div>
					<div id="communication_form">
						<%= form_tag "create_player_communication", :method => :get, :remote => true do %>
							<%= hidden_field_tag :player_id, session[:player_id]%>
							<%= hidden_field_tag :gameboard_id, @gameboard.id%>
							<%= text_field_tag :message, "", :style => "width: 235px; height: 50px; border: 2px solid #D0D0D0;"%>
							<%= submit_tag "Send", :name => nil %>
						<% end %>
					</div>
					<div id="transfer_form">
						<%= render :partial => "transfer_resource_form"%>
					</div>


				</div>

			</div>

		</td>
	</tr>
</table>