<div>
	<h2>Play Area</h2>
	<table id="gameboard">
	<%cellnum = 1%>
	<%for row in 1..@gameboard.gridsize%>
	  <tr style="">
			<%for col in 1..@gameboard.gridsize%>
				  <%#cell_color = @color_pallet[@cell_color[cellnum-1]]%>
				  <td style="background-color: <%=ColorPallet.find(@gameboard.cellcolors[cellnum-1].color_pallet_id).color%>" id='row<%=row%>col<%=col%>'>
				  <%p "Cellnum #{cellnum} #{@gameboard.cellcolors[cellnum-1].color_pallet_id}"%>
					<%if(@gameboard.player1_start_position == cellnum)%>
						<%=image_tag "Picture5.png"%>
					<%end%>
					<%if(@gameboard.player2_start_position == cellnum)%>
						<%=image_tag "Picture6.png"%>
					<%end%>
					
					<%if(cellnum == @gameboard.goal)%>
						<%=image_tag "goal38x38.PNG"%>
					<%end%>					
					
					
					<%cellnum+=1%>
				  </td>
			<%end%>
	  </tr>
	<%end%>
	</table>
	
	<div id="playerbucket">
	
		<table style="margin: 0px auto;">
			<tr>
				<td>Player 1</td>
			<%#@color_pallet.each_with_index do |color, index|%>
				<td style="width:40px; height:20px; background-color: <%#=color%> ">
					<%#=@player1_color_bucket[index]%>
				</td>
			<%#end%>
				<td>Score</td>
				<td><%#=player1_score%></td>
			</tr>

			<tr>
				<td>Player 2</td>
			<%#@color_pallet.each_with_index do |color, index|%>
				<td style="width:40px; height:20px; background-color: <%#=color%> ">
					<%#=@player2_color_bucket[index]%>
				</td>
			<%#end%>
				<td>Score</td>
				<td><%#=player2_score%></td>
			</tr>
		</table>
		
	</div>
	
	<div id="gamecontrols">
		
		<%=button_tag image_tag("up64x64.png")%>
		<%=button_tag image_tag("down64x64.png")%>
		<%=button_tag image_tag("left64x64.png")%>
		<%=button_tag image_tag("right64x64.png")%>
		
		<%#=link_to_remote "Move Left", :url=>{:action => :move, :direction => "left"}%>
		
	</div>
	
</div>